In [4]:
ord('A')

65

In [5]:
chr(65)

'A'

In [11]:
a="jigyasa"
b=2
c=3

In [7]:
print(str(a) + " - " + str(b) + " - " + str(c))

1 - 2 - 3

In [8]:
print("%d-%d-%d" % (a,b,c))

1-2-3

In [12]:
print("{1}-{0}-{2}".format(a,b,c))

2-jigyasa-3

In [13]:
print("{lastname}, {firstname}".format(firstname = "jigyasa", lastname = "bisht"))

bisht, jigyasa

In [14]:
firstname = "jigyasa"
lastname = "bisht"

In [18]:
print(f"{lastname}, {firstname}")#use of f

bisht, jigyasa

In [19]:
a = "                 jigyasa            "

In [20]:
print(a)

                 jigyasa

In [21]:
a.strip() # removes all widespace

'jigyasa'

In [22]:
a = input()

yes

In [24]:
a.strip() == "yes"

True

In [25]:
a = input()

1 2 3 4 5 6 7

In [26]:
a.split()

['1', '2', '3', '4', '5', '6', '7']

In [27]:
a = "jigyasa"

In [28]:
a.replace("j", "s")

'sigyasa'

In [29]:
a = "aaaabbbcccc"

In [30]:
a.replace("a", "z")

'zzzzbbbcccc'

In [31]:
a

'aaaabbbcccc'

In [33]:
a.count('a')

4

In [34]:
a.count("aa")

2

# Lists
### Ordered
### Mutable
### Accessed by index
### Hetrogenous

In [9]:
a = [1, 2, 3, 4]

In [10]:
a

[1, 2, 3, 4]

In [11]:
len(a) # length of the list

4

In [12]:
a+a  # concatenation of list

[1, 2, 3, 4, 1, 2, 3, 4]

In [13]:
a*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
a

[1, 2, 3, 4]

In [15]:
1 in a # membership

True

In [18]:
#list are iterable
for x in a:
    print(x)

1
2
3
4

In [19]:
a

[1, 2, 3, 4]

In [21]:
a[2]

3

In [22]:
a[-3]

2

In [23]:
a[-1] # backward index

4

In [24]:
a = "jigyasa"

In [25]:
a[-5]

'g'

In [26]:
a = [1,2,3,4,5]

In [27]:
a[1:4]

[2, 3, 4]

In [28]:
a[0:5:2]

[1, 3, 5]

In [29]:
a[::-1]

[5, 4, 3, 2, 1]

In [30]:
a = "jigyasa"

In [31]:
a[::-1]

'asaygij'

In [32]:
a = "jigyasa"

In [35]:
a == a[::-1] #checking if the string is palindrome or not

False

In [36]:
# insert an element to the list
a = [1,2,3,4,5]

In [37]:
a.insert(1, "jigyasa")

In [38]:
a

[1, 'jigyasa', 2, 3, 4, 5]

In [39]:
#appending an element in the list
a.append("bisht")

In [40]:
a

[1, 'jigyasa', 2, 3, 4, 5, 'bisht']

In [42]:
# use of pop for deleting
a = [1,2,3,4,5]
a.pop(1)

2

In [43]:
a = ["jigyasa", "chakshu", "mamma"]

In [44]:
a.remove("jigyasa")

In [45]:
a

['chakshu', 'mamma']

In [46]:
del a[1]

In [47]:
a

['chakshu']

In [48]:
del a

In [49]:
a

NameError: name 'a' is not defined

# # Sorting and reversing

In [50]:
a = [4, 7, 5,2,8,1,1,9]

In [51]:
a.sort()

In [52]:
a

[1, 1, 2, 4, 5, 7, 8, 9]

In [54]:
for i in reversed(a):
    print(i)

9
8
7
5
4
2
1
1

# Tuples

In [1]:
#immutable

In [2]:
a = [1,2,3,4,5]

In [3]:
a

[1, 2, 3, 4, 5]

In [4]:
a[0] = 5

In [5]:
a

[5, 2, 3, 4, 5]

In [6]:
id(a)

1913106773440

In [7]:
a = (1,2,3,4,5)

In [8]:
a[0] =1

TypeError: 'tuple' object does not support item assignment

In [9]:
def func(*args):
    print(args)

In [11]:
func(1,2,3,4)

(1, 2, 3, 4)

In [19]:
a = 5
b = 9

In [13]:
temp = a
a = b
b = temp

In [14]:
print(a,b)

9 5

In [20]:
a = a+b
b = a-b
a = a-b

In [21]:
print(a,b)

9 5

In [22]:
a = a^b
b = a^b
a = a^b

In [23]:
print(a,b)

5 9

In [26]:
a = 1, 2 # comma seperated values input is our tuples

In [27]:
type(a)

tuple

In [28]:
c, d = a

In [29]:
c

1

In [30]:
d

2

# Tuple to list conversion

In [31]:
a = (1,2,3)

In [32]:
a = list(a)

In [33]:
a

[1, 2, 3]

In [34]:
a = list(range(15))

In [42]:
a

(1, 2, 3, 4)

In [43]:
a =("jigyasa")

In [44]:
a = list(a)

In [45]:
a

['j', 'i', 'g', 'y', 'a', 's', 'a']

# List to tuple

In [46]:
a = [1,2,3,4]

In [47]:
a = tuple(a)

In [48]:
a

(1, 2, 3, 4)

# Returning multiple values from functions

In [49]:
def addsubtract(a,b):
    return a+b, a-b

In [53]:
sum, diff = addsubtract(14,9)

In [54]:
sum

23

In [55]:
diff

5

# Dictionaries

In [19]:
#Dictionaries is an unordered set of data

In [22]:
a = { "name" : "jigyasa",
    "marks" : 100 ,
    "subjects" : ["Maths", "Computer"] , 
    "friends" :{
        "chakshu" : "Android"
    }
    }

In [23]:
a["friends"]

{'chakshu': 'Android'}

In [24]:
a["name"]

'jigyasa'

In [25]:
a["subjects"]

['Maths', 'Computer']

In [26]:
for key in a:
    print(key)

name
marks
subjects
friends

# # Some important dict methods
### > get()
### > items
### > keys()
### > values
### > clear()

In [27]:
for item in a.items():
    print(item)

('name', 'jigyasa')
('marks', 100)
('subjects', ['Maths', 'Computer'])
('friends', {'chakshu': 'Android'})

In [28]:
for val in a.values():
    print(val)

jigyasa
100
['Maths', 'Computer']
{'chakshu': 'Android'}

In [29]:
for key in a.keys():
    print(key)

name
marks
subjects
friends

In [32]:
a.get("name")

'jigyasa'

In [33]:
a.clear()

In [34]:
a

{}

# Challenging Problem

In [1]:
students = []

In [2]:
n = int(input())

2

In [3]:
for _ in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-number" : roll,
        "name" :  name,
        "branch" : branch
    })

1
jigyasa
cse
2
chakshu
cse core

In [4]:
students

[{'roll-number': 1, 'name': 'jigyasa', 'branch': 'cse'},
 {'roll-number': 2, 'name': 'chakshu', 'branch': 'cse core'}]

Keys in the dictionary can be any immutable Data Structure

In [6]:
a = {
    (1,2) : "jigyasa"
}

In [7]:
a[(1,2)]

'jigyasa'

List cannot be given as key as it is mutable type

# Sets

In [8]:
a = {1,2,3,4}

In [9]:
type(a)

set

In [10]:
a = set()

In [11]:
a = {1,2,3,4}

In [12]:
b = {3,4,5,6}

In [13]:
a.intersection(b)

{3, 4}

In [14]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [15]:
a-b

{1, 2}

In [16]:
for i in a:
    print(i)

1
2
3
4

In [17]:
len(a)

4

In [18]:
a = [1,2,1,1,2,1,1,2,2,2,1]

In [20]:
list(set(a))

[1, 2]

# Comprehension

In [22]:
a = []
for i in range(10):
    a.append(i**2)

In [23]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

In [24]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

    Dict Comprehension

In [26]:
{i : i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
{i : i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [28]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [29]:
{i**2 for i in range(10) if i%2==0}

{0, 4, 16, 36, 64}

NOT Tuple Comprehension

In [4]:
(i**2 for i in range(10))